form {
    margin: 0.6rem 0;
}

h1 {
    font-size: 2.6rem;
    font-weight: 300;
}

p {
    margin-bottom: .6rem;
}

.container {
    margin: auto;
}

.form-control {
    display: initial;
    width: initial;
    line-height: initial;
    margin-left: .3rem;
    padding: .1rem .4rem;
}

.sector {
    width: content-box;
}

.parking-space {
    display: inline-block;
    width: 3.25rem;
    margin: .15rem;
    font-weight: 500;
    text-align: center;
    border-radius: .25rem;
    cursor: default;
}

.available {
    background-color: limegreen;
}

.occupied {
    background-color: orangered;
}

.selected {
    background-color: darkgrey;
    transform: scale(1.15);
    cursor: pointer;
}

.thicker-hr {
    margin: .4rem 0;
    border-top-width: .13rem;
}

.alert {
    width: fit-content;
    height: 2.2rem;
    padding: 0.25rem 0.8rem;
    margin-bottom: 0.5rem;
}

.hidden {
    display: none
}

.hidden-label {
    display: none;
    height: 1.7rem;
}

input[type="number"] {
    width: 3.6rem;
    text-align: center;
}

input[type="radio"] {
    vertical-align: middle;
    margin-left: .3rem;
}

.custom-select {
    width: max-content;
    line-height: 1;
}

.custom-select-sm {
    font-size: 100%;
}

.form-buttons {
    margin-top: .5rem;
}

.form-buttons a {
    margin-left: 4rem;
    text-decoration: none;
}

.details span {
    font-weight: 500;
}

.details hr {
    width: 16rem;
    display: table-caption;
    margin: 0.5rem 0;
}

.right-menu {
    position: absolute !important;
    top: 0;
    left: 100%;
    margin-top: 0.2rem !important;
    margin-left: 0.5rem !important;
}