<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="_general::headerfiles"></head>
<body>
<div th:replace="_general :: nav_bar"></div>
<div class="jumbotron">
    <div class="container" style="max-width: 800px;">
        <form action="/change-password" method="post" style="width: 50%">
            <label class="d-flex justify-content-end">Current password:<input type="password" name="current_password" required></label>
            <label class="d-flex justify-content-end">New password:<input type="password" name="new_password" required></label>
            <label class="d-flex justify-content-end">Confirm new password:<input type="password" name="new_password_confirm" required></label>
            <p th:text="${alert_message}" class="alert" th:classappend="${is_changed}?'alert-success':'alert-danger'"></p>
            <!--<p th:text="${success_message}" class="alert" th:classappend="${success_message} != null?'alert-success':''"></p>-->
            <div class="d-flex justify-content-end form-buttons">
                <input type="submit" value="Change password">
                <a th:href="@{/maintenance}"><div class="btn btn-primary">Cancel</div></a>
            </div>
        </form>
    </div>
</div>
<div th:replace="_general :: footerfiles"></div>
<script>
    if ($(".alert").text() === "") {
        $(".alert").removeClass("alert-danger");
    }
</script>
</body>
</html>