<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="_general::headerfiles"></head>
<body>
<div th:replace="_general :: nav_bar"></div>
<div class="jumbotron">
    <div class="container">
        <form action="/change-password" method="post" style="width: 50%">
            <label class="d-flex justify-content-end">Current password:<input type="password" name="current_password"></label>
            <label class="d-flex justify-content-end">New password:<input type="password" name="new_password"></label>
            <label class="d-flex justify-content-end" style="margin-bottom: 1.3rem">Confirm new password:<input type="password" name="new_password_confirm"></label>
            <div class="d-flex justify-content-end"><input type="submit" value="Change password"></div>
        </form>
    </div>
</div>
<p th:text="${error_message}" class="alert" th:classappend="${error_message} != null?'alert-danger':''"></p>
<p th:text="${success_message}" class="alert" th:classappend="${success_message} != null?'alert-success':''"></p>
<div th:replace="_general :: footerfiles"></div>
</body>
</html>